<h4>Artist Page Comments</h4>
<div class="comment-section mb-4">
    {{#if artist.comments}}
    <div>There are {{artist.comments.length}} comments</div>
    <hr>
        {{#each artist.comments}}
            <article class="comment-{{@index}} bg-faded p-2 mb-2">
                <div>
                    <span><span class="font-weight-bold text-primary">Comment by:</span> {{this.commentauthor}}</span>
                    <br>
                    <span>Date/Time: {{this.date}}</span>
                    <p>{{this.commenttext}}</p>
                </div>
            </article>

        {{/each}}
    {{else}}
    <p>There are no comments yet, fill out the form below to add a comment.</p>
    {{/if}}
    <section>
        {{!-- Comment Form  --}}

        <h5>Comment Form</h5>
        <form class="" action="/artist/{{id}}" method="post">
            <div class="form-group">
                <label for="commentauthor">Name</label>
                <input class="form-control" type="text" name="commentauthor" value="" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
                <label for="commenttext">Comment Area</label>
                <textarea class="form-control" name="commenttext" rows="8" cols="80" placeholder="Enter Your Comment" required></textarea>
            </div>
            <div>
                <a href="/artists/{{artist.id}}"><input class="btn btn-secondary btn-sm" type="submit" name="submit" value="Add Comment" formaction="/artists/{{artist.id}}"></a>
            </div>

        </form>

    </section>

</div>
