<h2>Edit Artist Info</h2>

<section>
    <form class="" action="/artists/edit/{{artist.id}}" method="post">

        <div class="form-group">
        <label for="artist">Artist or Band Name:</label>
        <input class="form-control" type="text" name="name" value="{{artist.name}}" placeholder="Add the artist or band name" required>
        </div>

        <div class="form-group">
        <label for="genre">Genre</label>
        <select class="genre-options form-control" name="genres" multiple>
            {{#each genre}}
              <option name="genre" value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            {{!-- <option name="genre" value="Pop" {{#if artist.genre}}selected{{/if}}>Pop</option> --}}
        </select>
        </div>

        <div class="form-group">
        <label for="">Upload artist image</label>
        <input class="form-control" type="text" name="imgurl" value="{{artist.imageurl}}" placeholder="{{artist.imageurl}}">
        </div>

        <div class="form-group">
            <label for="description">Description/Info</label>
            <textarea class="form-control" name="description" rows="8" cols="80" required>{{artist.description}}</textarea>

        </div>
        <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Edit Artist Info">


    </form>
</section>
