<section class="mt-4">
    <h2>Artist Page for: {{artist.name}}</h2>
    {{!-- {{#title}} Artist Page {{/title}} --}}

    {{#> artist-block title="Artist Page"}}

    <div class="artist-info">
        <figure>
            {{!-- insert image --}}
            <img src="{{artist.imageurl}}" alt="">

        </figure>

        <div>
            <h4>Genre</h4>
            <div class="mt-3">
            {{#each artist.genre}}
                <span class="bg-warning text-white genre-styles">{{this}}</span>

            {{/each}}
            </div>
        </div>

        <article class="info mt-3">
            <h4>Description:</h4>
            {{!-- insert description if needed  --}}
            <p class="mt-3">{{artist.description}}</p>
        </article>

        {{!-- edit buttons --}}
        <section>
            <a href="/artists/edit/{{artist.id}}"><input class="btn btn-primary btn-sm" type="submit" name="submit" value="Edit Artist Info"></a>
            <a href="/artists/delete/{{artist.id}}"><input class="btn btn-danger btn-sm" type="submit" name="submit" value="Delete Artist"></a>
        </section>
    </div>
    <hr>

    {{!-- Artist page comments; see partial--}}
    {{> comments}}

    {{/artist-block}}

</section>
